<header ng-include="'modules/core/client/views/header.client.view.html'"></header>
<div ng-include="'modules/core/client/views/logo.client.view.html'"></div>
<main class="tcx">
  <span ng-controller="LogoController">
    <p class="old">Digital Inclusion KC</p>
  </span>
  <div class="mein-container">
    <div class="mein trapper tearfix" ng-app="CustomMap">
      <div id="tab-container" class="blob-container">
        <section ng-include="'/modules/core/client/views/partials/tab/about.client.view.html'"></section>
         <div id="td-wrap">
          <div id="about">
            <section class="clearfix">
              <div class="g2">
                <div class="info">
                  <h2>About Us</h2>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    <section ng-include="'/modules/core/client/views/footer.client.view.html'"></section>
  </div>
</main>
<div id="parent" ng-controller="HomeController">
  <div id="child2">
    <p>About Us</p>
  </div>
</div>