<section ng-controller="HomeController">
  <p ng-include="'/modules/core/client/views/logo.client.view.html'"></p>



       <div class="main-container">
    <div class="main wrapper clearfix">
      <!-- Header Start -->

        <!-- Header End -->
        <!-- Main Tab Container -->
        <div id="tab-container" class="tab-container">
          <!-- Tab List -->
            <ul class='etabs'>
                <li class='tab' id="tab-about">
                  <a ng-href="/"><i class="icon-user"></i><span> Home</span></a>
                </li>

                <li class='tab'>
                  <a ng-href="/add-location"><i class="icon-heart"></i><span> Add to Map</span></a>
                </li>

                <li class='tab'>
                  <a ng-href="/internet-service-providers"><i class="icon-heart"></i><span> Get Internet Service</span></a>
                </li>

                <li class='tab'>
                  <a ng-href="/contact"><i class="icon-file-text"></i><span> Contact</span></a>
                </li>

                <li class='tab'>
                  <a ng-href="/about" class="active"><i class="icon-envelope"></i><span> About</span></a>
                </li>
            </ul>
          <!-- End Tab List -->
            <div id="tab-data-wrap">

              <!-- Contact Tab Data -->
                <div id="contact">
                    <section class="clearfix">
                       <div class="g1">
                         <div class="sny-icon-box">
                           <div class="sny-icon">
                              <i class="icon-globe"></i>
                            </div>
                            <div class="sny-icon-content">
                              <h4></h4>
                              <p></p>
                            </div>
                         </div>
                       </div>
                       <div class="g1">
                         <div class="sny-icon-box">
                           <div class="sny-icon">
                              <i class="icon-phone"></i>
                            </div>
                            <div class="sny-icon-content">
                              <h4></h4>
                              <p><br/></p>
                            </div>
                         </div>
                       </div>
                       <div class="g1">
                         <div class="sny-icon-box">
                           <div class="sny-icon">
                              <i class="icon-user"></i>
                            </div>
                            <div class="sny-icon-content">
                              <h4>?</h4>
                              <p>.</p>
                            </div>
                         </div>
                       </div>
                       <div class="break"></div>

                    </section>
                </div>
              <!-- End Contact Data -->
            </div>
        </div>
        <!-- End Tab Container -->
        <section ng-include="'/modules/core/client/views/footer.client.view.html'"></section>
    </div><!-- #main -->
</div><!-- #main-container -->


</section>
