<section ng-controller="HomeController">



      <p class="lead">
        digital inclusion staging
      </p>
       <div class="main-container">
    <div class="main wrapper clearfix">
      <!-- Header Start -->
        <header id="header">
            <div id="logo">
                <h2>
                    Sunny Luthra
                </h2>
                <h4>
                    Animator / Photographer
                </h4>
            </div>
        </header>
        <!-- Header End -->
        <!-- Main Tab Container -->
        <div id="tab-container" class="tab-container">
          <!-- Tab List -->
            <ul class='etabs'>
                <li class='tab' id="tab-about">
                  <a ng-href="/"><i class="icon-user"></i><span> Home</span></a>
                </li>

                <li class='tab'>
                  <a ng-href="/add-location"><i class="icon-heart"></i><span> Add to Map</span></a>
                </li>

                <li class='tab'>
                  <a ng-href="/internet-service-providers"><i class="icon-heart"></i><span> Get Internet Service</span></a>
                </li>

                <li class='tab'>
                  <a ng-href="/contact"><i class="icon-file-text"></i><span> Contact</span></a>
                </li>

                <li class='tab'>
                  <a ng-href="/about" class="active"><i class="icon-envelope"></i><span> About</span></a>
                </li>
            </ul>
          <!-- End Tab List -->
            <div id="tab-data-wrap">

              <!-- Contact Tab Data -->
                <div id="contact">
                    <section class="clearfix">
                       <div class="g1">
                         <div class="sny-icon-box">
                           <div class="sny-icon">
                              <i class="icon-globe"></i>
                            </div>
                            <div class="sny-icon-content">
                              <h4>Address</h4>
                              <p>Some Apartment</p>
                            </div>
                         </div>
                       </div>
                       <div class="g1">
                         <div class="sny-icon-box">
                           <div class="sny-icon">
                              <i class="icon-phone"></i>
                            </div>
                            <div class="sny-icon-content">
                              <h4>(function(a){a.easytabs=function(j,e){var f=this,q=a(j),i={animate:true,panelActiveClass:"active",tabActiveClass:"active",defaultTab:"li:first-child",animationSpeed:"normal",tabs:"> ul > li",updateHash:true,cycle:false,collapsible:false,collapsedClass:"collapsed",collapsedByDefault:true,uiTabs:false,transitionIn:"fadeIn",transitionOut:"fadeOut",transitionInEasing:"swing",transitionOutEasing:"swing",transitionCollapse:"slideUp",transitionUncollapse:"slideDown",transitionCollapseEasing:"swing",transitionUncollapseEasing:"swing",containerClass:"",tabsClass:"",tabClass:"",panelClass:"",cache:true,event:"click",panelContext:q},h,l,v,m,d,t={fast:200,normal:400,slow:600},r;)</h4>
                              <p>0<br/>0</p>
                            </div>
                         </div>
                       </div>
                       <div class="g1">
                         <div class="sny-icon-box">
                           <div class="sny-icon">
                              <i class="icon-user"></i>
                            </div>
                            <div class="sny-icon-content">
                              <h4>About Me</h4>
                              <p>I love to work, so don't be shy, i am just an email away.</p>
                            </div>
                         </div>
                       </div>
                       <div class="break"></div>

                    </section>
                </div>
              <!-- End Contact Data -->
            </div>
        </div>
        <!-- End Tab Container -->
        <footer>
            <p>
                Designed with lots of love at <a href="http://www.mrova.com" title="Pune web designing company">mRova</a>. Just <a href="http://www.mrova.com/free-one-page-responsive-html-resume-template/">Click me to download</a> this template for free :).
            </p>
        </footer>
    </div><!-- #main -->
</div><!-- #main-container -->


</section>
