<section ng-controller="HomeController">
  <p ng-include="'/modules/core/client/views/logo.client.view.html'"></p>



       <div class="main-container">
    <div class="main wrapper clearfix">

        <!-- Main Tab Container -->
        <div id="tab-container" class="tab-container">
          <!-- Tab List -->
            <ul class='etabs'>
                <li class='tab' id="tab-about">
                  <a ng-href="/"><i class="icon-user"></i><span> Home</span></a>
                </li>

                <li class='tab'>
                  <a ng-href="/add-location" class="active"><i class="icon-heart"></i><span> Add to Map</span></a>
                </li>

                <li class='tab'>
                  <a ng-href="/internet-service-providers"><i class="icon-heart"></i><span> Get Internet Service</span></a>
                </li>

                <li class='tab'>
                  <a ng-href="/contact"><i class="icon-file-text"></i><span> Contact</span></a>
                </li>

                <li class='tab'>
                  <a ng-href="/about"><i class="icon-envelope"></i><span> About</span></a>
                </li>
            </ul>
          <!-- End Tab List -->
            <div id="tab-data-wrap">
              <!-- About Tab Data -->

            </div>
        </div>
        <!-- End Tab Container -->
        <section ng-include="'/modules/core/client/views/footer.client.view.html'"></section>
    </div><!-- #main -->
</div><!-- #main-container -->


</section>
