<section ng-controller="HomeController">
  <p ng-include="'/modules/core/client/views/logo.client.view.html'"></p>
    <div class="main-container">
        <div class="main wrapper clearfix">

        <div id="tab-container" class="tab-container">
            <ul class='etabs'>
                <li class='tab' id="tab-about">
                  <a ng-href="/"><i class="icon-user"></i><span> Home</span></a>
                </li>

                <li class='tab'>
                  <a ng-href="/add-location"><i class="icon-heart"></i><span> Add to Map</span></a>
                </li>

                <li class='tab'>
                  <a ng-href="/internet-service-providers"><i class="icon-heart"></i><span> Get Internet Service</span></a>
                </li>

                <li class='tab'>
                  <a ng-href="/contact" class="active"><i class="icon-file-text"></i><span> Contact</span></a>
                </li>

                <li class='tab'>
                  <a ng-href="/about"><i class="icon-envelope"></i><span> About</span></a>
                </li>
            </ul>
            <div id="tab-data-wrap">

              <!-- Resume Tab Data -->
                <div id="resume">
                    <section class="clearfix">
                        <div class="g2">
                            <h3>
                                Work Experience
                            </h3>
                            <ul class="no-list work">
                                <li>
                                    <h5>
                                        Freelance Web Designer
                                    </h5><span class="label label-info">2009-2010</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante.
                                    </p>
                                </li>

                            </ul>


                        </div>
                        <div class="g1 cont-box">
                            <div class="sidebar contact-side">
                                <h3>
                                    Skills
                                </h3>
                                <h5>
                                    Software
                                </h5>
                                <div class="meter emerald">
                                    <span style="width: 33.3%"><span>Photoshop</span></span>
                                </div>
                                <div class="meter carrot">
                                    <span style="width: 90%"><span>Illustrator</span></span>
                                </div>
                                <div class="meter wisteria">
                                    <span style="width: 60%"><span>InDesign</span></span>
                                </div>
                                <div class="meter sunflower">
                                    <span style="width: 40%"><span>Firework</span></span>
                                </div>
                                <div class="meter midnight">
                                    <span style="width: 70%"><span>Dreamweaver</span></span>
                                </div>
                                <div class="meter pomengrate">
                                    <span style="width: 60%"><span>Microsoft Office</span></span>
                                </div>
                                <div class="meter asbestos">
                                    <span style="width: 65%"><span>Linux</span></span>
                                </div>

                        </div>
                    </section>
                </div>
              <!-- End Resume Tab Data -->

            </div>
        </div>
        <!-- End Tab Container -->
       <section ng-include="'/modules/core/client/views/footer.client.view.html'"></section>
    </div><!-- #main -->
</div><!-- #main-container -->


</section>
