<section ng-controller="HomeController">
      <p ng-include="'/modules/core/client/views/logo.client.view.html'"></p>
<!--       <a href="/api/auth/signout" target="_self">Signout</a> -->
      <div class="main-container">
          <div class="main wrapper clearfix" ng-app="CustomMap">
            <!-- Header Start -->

              <!-- Header End -->
              <!-- Main Tab Container -->
              <div id="tab-container" class="tab-container">
                <!-- Tab List -->
                  <ul class='etabs'>
                      <li class='tab' id="tab-about">
                        <a ng-href="/" class="active"><i class="icon-user"></i><span> Home</span></a>
                      </li>

                      <li class='tab'>
                        <a ng-href="/add-location"><i class="icon-heart"></i><span> Add to Map</span></a>
                      </li>

                      <li class='tab'>
                        <a ng-href="/internet-service-providers"><i class="icon-heart"></i><span> Get Internet Service</span></a>
                      </li>

                      <li class='tab'>
                        <a ng-href="/contact"><i class="icon-file-text"></i><span> Contact</span></a>
                      </li>

                      <li class='tab'>
                        <a ng-href="/about"><i class="icon-envelope"></i><span> About</span></a>
                      </li>
                  </ul>
                <!-- End Tab List -->
                  <div id="tab-data-wrap">
                    <!-- About Tab Data -->
                      <div id="about">
                          <section class="clearfix">
                              <div class="g2">

                                  <div class="info">
                                      <h2>
                                          Local Map of Free WiFi Services
                                      </h2>

                                  </div>
                                  <section id="customMap" ng-controller="MapController">
                                    <div ui-map="map" ui-options="mapOptions" class="map-canvas" ui-event="{'map-click': 'addMarker($event, $params)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }">
                                    </div>
                                  </section>
                                   <div ng-controller="MapController">
                                    <ui-gmap-google-map center="map.center" options="options" zoom="map.zoom"></ui-gmap-google-map>
                                    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
                                     <ui-gmap-map-control template="control.tpl.html" position="top-right" controller="controlCtrl" index="-1"></ui-gmap-map-control>

                                  </div>
                              </div>
                              <div class="g1">
                                  <div class="main-links sidebar">
                                      <ul>
                                          <li>
                                              <a href="#resume">Legend</a>
                                          </li>
                                          <li>
                                              <a href="#portfolio"></a>
                                          </li>
                                          <li>
                                              <a href="#contact"></a>
                                          </li>
                                          <li>
                                              <a href="#features"></a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="break"></div>
                              <div class="contact-info">
                                <div class="g1">
                                  <div class="item-box clearfix">
                                    <i class="icon-envelope"></i>
                                    <div class="item-data">

                                      <h3><a href=""></a></h3>
                                      <p></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="g1">
                                  <div class="item-box clearfix">
                                    <i class="icon-facebook"></i>
                                    <div class="item-data">
                                      <h3><a href="">link</a></h3>
                                      <p>to somewhere</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="g1">
                                  <div class="item-box clearfix">
                                    <i class="icon-twitter"></i>
                                    <div class="item-data">
                                      <h3><a href="http://twitter.com">@@</a></h3>
                                      <p>###</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </section><!-- content -->
                      </div>
                    <!-- End About Tab Data -->

                  </div>
              </div>
              <!-- End Tab Container -->
              <section ng-include="'/modules/core/client/views/footer.client.view.html'"></section>
          </div><!-- #main -->
      </div><!-- #main-container -->

