<section ng-controller="HomeController">
<p class="lead">digital inclusion staging</p>
<div class="main-container">
    <div class="main wrapper clearfix">
        <header id="header">
            <div id="logo">
                <h2>
                    Sunny Luthra
                </h2>
                <h4> Animator / Photographer </h4>
            </div>
        </header>

        <div id="tab-container" class="tab-container">
          <!-- Tab List -->
            <ul class='etabs'>
                <li class='tab' id="tab-about">
                  <a ng-href="/"><i class="icon-user"></i><span> Home</span></a>
                </li>

                <li class='tab'>
                  <a ng-href="/add-location"><i class="icon-heart"></i><span> Add to Map</span></a>
                </li>

                <li class='tab'>
                  <a ng-href="/internet-service-providers" class="active"><i class="icon-heart"></i><span> Internet at Home</span></a>
                </li>

                <li class='tab'>
                  <a ng-href="/contact"><i class="icon-file-text"></i><span> Contact</span></a>
                </li>

                <li class='tab'>
                  <a ng-href="/about"><i class="icon-envelope"></i><span> About</span></a>
                </li>
            </ul>

            <div id="tab-data-wrap">


                <div id="portfolio">
                    <section class="clearfix">
                        <div class="g1">
                            <div class="image">
                                <img src="http://lorempixel.com/306/306/sports/1" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="http://lorempixel.com/606/606/sports/1" class="btn">Full View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="image">
                                <img src="http://lorempixel.com/306/306/sports/2" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="http://lorempixel.com/606/606/sports/2" class="btn">Full View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="image">
                                <img src="http://lorempixel.com/306/306/sports/3" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="http://lorempixel.com/606/606/sports/3" class="btn">Full View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="break"></div>
                        <div class="g1">
                            <div class="image">
                                <img src="http://lorempixel.com/306/306/sports/4" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="http://lorempixel.com/606/606/sports/4" class="btn">Full View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="image">
                                <img src="http://lorempixel.com/306/306/sports/5" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="http://lorempixel.com/606/606/sports/5" class="btn">Full View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="image">
                                <img src="http://lorempixel.com/306/306/business/2" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="http://lorempixel.com/606/606/business/2" class="btn">Full View</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>
                </div>
              <!-- End Portfolio Data -->

            </div>
        </div>
        <!-- End Tab Container -->
        <footer>
            <p>
                Designed with lots of love at <a href="http://www.mrova.com" title="Pune web designing company">mRova</a>. Just <a href="http://www.mrova.com/free-one-page-responsive-html-resume-template/">Click me to download</a> this template for free :).
            </p>
        </footer>
    </div>
</div>


</section>
