<!-- <main ng-controller="HomeController">
  <aside ng-include="'/modules/core/client/views/logo.client.view.html'"></aside>
  <div class="mein-container">
    <div class="mein trapper tearfix" ng-app="CustomMap">
      <div id="tab-container" class="blob-container">
        <section ng-include="'/modules/core/client/views/partials/tab/home.client.view.html'"></section>
        <div id="tab-data-wrap">
          <div id="about">
            <section class="clearfix">
              <div class="g2">
                <div class="info">
                   <a class="ref-btn" ng-click="refreshMap();">
                    <i class="glyphicon glyphicon-refresh"></i>
                  </a>
                </div>
                <div ng-include="'/modules/core/client/views/partials/map/canvas-redo.client.view.html'"></div>
              </div>
              <div class="g1">
                <div class="main-links sidebar">
                </div>
              </div>
              <div class="break"></div>
              <div class="contact-info">
                <div class="g1 sa-a">
                  <div class="item-box clearfix">
                    <i class="icon-envelope"></i>
                    <div class="item-data">
                      <h3><a href=""></a></h3>
                      <p></p>
                    </div>
                  </div>
                </div>
                <div class="g1 super-c">
                  <div class="item-box clearfix">
                    <i class="icon-twitter"></i>
                    <div class="item-data">
                      <h3></h3>
                      <h5></h5>
                      <p></p>
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    <section ng-include="'/modules/core/client/views/footer.client.view.html'"></section>
  </div>
</main> -->

<main class="tcx">
	<aside ng-include="'/modules/core/client/views/logo.client.view.html'"></aside>
  <div class="mein-container">
    <div class="mein trapper tearfix" ng-app="CustomMap">
      <div id="tab-container" class="blob-container">
        <section ng-include="'/modules/core/client/views/partials/tab/home.client.view.html'"></section>
        <div id="td-wrap">
          <div id="about">
            <section class="clearfix">
              <div class="g2">
                <div class="info">
                  <!-- <h2>Find Local Resources</h2> -->
                   <a class="ref-btn" ng-click="refreshMap();">
                    <i class="glyphicon glyphicon-refresh"></i>
                  </a>
                </div>
                <div ng-include="'/modules/core/client/views/partials/map/canvas-redo.client.view.html'"></div>
                <!-- <div ng-include="'/modules/core/client/views/partials/map/controls.client.view.html'"></div> -->
              </div>
              <div class="g1">
                <div class="main-links sidebar">
                  <!-- <div ng-include="'/modules/core/client/views/partials/map/legend.client.view.html'"></div> -->
                </div>
              </div>
              <div class="break"></div>
              <div class="contact-info">
                <div class="g1 sa-a">
                  <div class="item-box clearfix">
                    <i class="icon-envelope"></i>
                    <div class="item-data">
                      <h3><a href=""></a></h3>
                      <p></p>
                    </div>
                  </div>
                </div>
                <div class="g1 super-c">
                  <div class="item-box clearfix">
                    <i class="icon-twitter"></i>
                    <div class="item-data">
                      <h3></h3>
                      <h5></h5>
                      <p></p>
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    <section ng-include="'/modules/core/client/views/footer.client.view.html'"></section>
  </div>
</main>


<!-- <div class="ttl">
 <div id="crMap">


    <div ui-map="map" ui-options="mapOptions" class="map-canvas" ui-event="{'map-click': 'addMarker($event, $params)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }"></div>

    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">

    <ui-gmap-map-control template="control.tpl.html" position="top-right" controller="controlCtrl" index="1"></ui-gmap-map-control>


  </div>
</div> -->
<div id="parent" ng-controller="HomeController">
<!-- <a ng-click=""><span ></span></a> -->
<span uib-dropdown on-toggle="toggled(open)">
      <a class="glyphicon glyphicon-menu-hamburger xb" aria-hidden="true" href id="simple-dropdown" uib-dropdown-toggle>
      
      </a>
      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li ng-repeat="choice in items">
          <a ng-click="clicked(choice)" href>{{choice}}</a>
        </li>
      </ul>
    </span>

  <h3 class="di-line">Digital Inclusion</h3>
  <h1 class="free">Free Services in Kansas City</h1>
	<aside class="oil">

	<div class="r-btns">
	  <button id="tgz1" class="brue highlighted"><span class="arb">Free WiFi</span></button>
	  <button id="tgz2" class="tu st brue norm"><span class="arb">Computer Training</span></button>
	</div>
		<div class="pc-btns">
	 <!--  <a button-controls class="push_button rue day">Day Courses</a> -->
	  <button id="tgz3" class="brue norm"><span class="arb">Public Computers</span></button>
	  <button id="tgz4" class="tu brue norm"><span class="arb">Low Cost Computers</span></button>
	 <!--  <button class="rue" ng-click="count = count + 1" ng-init="count=0">
	    Increment
	  </button>
	  <span>
	    count: {{count}}
	  </span> -->
	</div>
	</aside>

  <div id="child2">

  	   <section id="crMap">
		<div ui-map="map" ui-options="mapOptions" class="cvmap" ui-event="{'map-click': 'addMarker($event, $params)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }"></div>
    	<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
    	<ui-gmap-map-control template="control.tpl.html" position="top-right" controller="controlCtrl" index="1"></ui-gmap-map-control>
    	<!-- </ui-gmap-google-map> -->
    	</section>

  </div>
</div>