<section ng-controller="HomeController">
  <p ng-include="'/modules/core/client/views/logo.client.view.html'"></p>
    <div class="main-container">
        <div class="main wrapper clearfix">

        <div id="tab-container" class="tab-container">
            <section ng-include="'/modules/core/client/views/partials/tab/training.client.view.html'"></section>
            <div id="tab-data-wrap">

              <!-- Resume Tab Data -->
                <div id="resume">
                    <section class="clearfix">
                        <div class="g2">
                          

                        </div>
                        <div class="g1 cont-box">
                              

                        </div>
                    </section>
                </div>
              <!-- End Resume Tab Data -->

            </div>
        </div>
        <!-- End Tab Container -->
       <section ng-include="'/modules/core/client/views/footer.client.view.html'"></section>
    </div><!-- #main -->
</div><!-- #main-container -->


</section>
