 <article ng-controller="MapController as map">
  <aside class="sirlin">
    <div class="trapped">
     <!--  <a button-controls class="push_button rue day">Day Courses</a> -->
      <button id="tgz3" ng-click="whippingBoy('dayClasses')" class="rue norm"><span class="arb">Public Computers</span></button>
      <button id="tgz4" ng-click="whippingBoy('computerRetail')" class="t rue norm"><span class="arb">Low Cost Computers</span></button>
     <!--  <button class="rue" ng-click="count = count + 1" ng-init="count=0">
        Increment
      </button>
      <span>
        count: {{count}}
      </span> -->
    </div>
    <div class="another-trap">
      <button id="tgz1" class="rue highlighted" ng-click="whippingBoy('freeWifi')"><span class="arb">Free WiFi</span></button>
      <button id="tgz2" class="misconst rue norm" ng-click="whippingBoy('customerWifi')"><span class="arb">Computer Training</span></button>
    </div>
  </aside>

  <div ng-include="'/modules/core/client/views/partials/map/legend.client.view.html'"></div>

  <section id="customMap">

    <div ui-map="map" ui-options="mapOptions" class="map-canvas" ui-event="{'map-click': 'addMarker($event, $params)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }"></div>

    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">

    <ui-gmap-map-control template="control.tpl.html" position="top-right" controller="controlCtrl" index="1"></ui-gmap-map-control>

    <!--  <div id="class" ng-repeat="marker in mapMarkers | orderBy : 'title'">
         <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
    </div> -->


  </section>
  <section ng-include="'/modules/core/client/views/partials/map/panel.client.view.html'"></section>
</article>