<!-- <section class="reroute"> -->
<section class="reroute">
<div class='my-legend'>
<div class='legend-title'>Map Legend</div>
<div class='legend-scale'>
  <ul class='legend-labels'>
    <li><img class="control-img" src="modules/core/client/img/wifi-free.svg"><span class="label-key">Free WiFi</span></li>
    <li class="yes"><img class="control-img" src="modules/core/client/img/wifi-purchase.svg"><span class="label-key">Customer Only</span></li>
  </ul>
  <ul class="legend-labels right-column">
    <li><img class="no" src="modules/core/client/img/user-orange.svg"><span class="label-key a-sh">Daytime Courses</span></li>
    <li class="yes"><img class="no" src="modules/core/client/img/user-blue.svg"><span class="label-key a-sh">Evening Courses</span></li>
  </ul>
</div>
<div class='legend-source'>Source: <a href="#link to source">KC Digital Drive</a></div>
</div>
</section>