<ul class='etabs'>
  <li class='tab' id="tab-about">
    <a ng-href="/"><i class="icon-user"></i><span class="acat"> Digital Inclusion Map</span></a>
  </li>
  <li class='tab'>
    <a ng-href="/map-resources"><i class="icon-heart"></i><span class="act"> Add Location</span></a>
  </li>
  <li class='tab'>
    <a ng-href="/isps"><i class="icon-heart"></i><span class="act">Internet at Home (ISPs)</span></a>
  </li>
  <li class='tab'>
    <a ng-href="/training"><i class="icon-heart"></i><span class="act"> Find Training Online</span></a>
  </li>
  <li class='tab'>
    <a ng-href="/contact" class="active"><i class="icon-file-text"></i><span class="act"> Contact</span></a>
  </li>
  <li class='tab'>
    <a ng-href="/about"><i class="icon-envelope"></i><span class="act"> About</span></a>
  </li>
</ul>