<ul class='etabs'>
  <li class='tab' id="tab-about">
    <a ng-href="/" class="active"><i class="icon-user"></i><span class="acat"> Kansas City Map</span></a>
  </li>
  <li class='tab'>
    <a ng-href="/add-location"><i class="icon-heart"></i><span class="act"> Add or Edit Resource</span></a>
  </li>
  <li class='tab'>
    <a ng-href="/internet-service-providers"><i class="icon-heart"></i><span class="act"> Internet at Home (ISPs)</span></a>
  </li>
  <li class='tab'>
    <a ng-href="/training-online"><i class="icon-heart"></i><span class="act"> Online Training Options</span></a>
  </li>
  <li class='tab'>
    <a ng-href="/contact"><i class="icon-file-text"></i><span class="act"> Contact</span></a>
  </li>
  <li class='tab'>
    <a ng-href="/about"><i class="icon-envelope"></i><span class="act"> About</span></a>
  </li>
</ul>