@media (min-width: 769px) {
	.blob-container {
	
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;

	}

	.tab {
    display: inline-block;
    zoom: 1;
    background: radial-gradient(#E2E2E2,#CECECE,#D4D4D4);
    /* background: radial-gradient(#CACACA,#C5C5C5); */
    background: radial-gradient(#e6e6e6,#e8e8e8,#ececec);
    /* background: transparent; */
    border: solid 1px #DADADA;
    border: 1px solid #c1c1c1;
    /* border-bottom: .5px solid #DCDCDC; */
    /* border-bottom: .5px solid #CECECE; */
    position: relative;
    -moz-border-radius: 4px 4px 0 0;
    border-bottom: none;
    -webkit-border-radius: 0 0 0 0;
    box-shadow: 1px 1px 1px #efefef;
    margin-right: -.21em;
    margin-bottom: -4px;
    letter-spacing: .51px;
    left: .1697em;
    top: -.125em;
    border-top-right-radius: .531em;
    border-top-left-radius: .531em;
}
div#td-wrap {
    background: radial-gradient(snow,silver);
    width: 750px;
    box-shadow: 0 0 4px #525252;
}
}